$green: #21af11;
$red: #e21616;
$purple: #a33793;
$eigengrau: #16161d;

body {
    background-image: url("../img/background.png");
    background-color: #ccc;
}

#content {
    width: 95%;
    margin: 0 auto;
    padding: 0.1em;
    position: static;
    color: whitesmoke;
}

.top-bar {
    background-color: black;
    color: whitesmoke;
    height: 5em;
    .top-bar-title {
        text-align: center;
        width: 1.5em;
    }
    .h-green {
        color: $green;
    }
    .h-red {
        color: $red;
    }
    a {
        color: whitesmoke;
    }
    a:hover {
        pointer-events: none;
    }
}

#navBox {
    margin: 5px;
    button {
        padding: 5px;
    }
}

article {
    position: relative;
    margin: 0 1em;
    padding: 1em;
    padding-bottom: 10em;
    background-color: $eigengrau;
    border: 2px, solid, grey;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.present {
    border-bottom: 2px, solid, whitesmoke;
    width: 60%;
}

.phone {
    width: max-content;
}
.address {
    
}



#map {
    height: 15em;
    width: 18em;
    margin: 0 auto;
}