body {
  background-image: url("../img/background.png");
  background-color: #ccc; }

#content {
  width: 95%;
  margin: 0 auto;
  padding: 0.1em;
  position: static;
  color: whitesmoke; }

.top-bar {
  background-color: black;
  color: whitesmoke;
  height: 5em; }
  .top-bar .top-bar-title {
    text-align: center;
    width: 1.5em; }
  .top-bar .h-green {
    color: #21af11; }
  .top-bar .h-red {
    color: #e21616; }
  .top-bar a {
    color: whitesmoke; }
  .top-bar a:hover {
    pointer-events: none; }

#navBox {
  margin: 5px; }
  #navBox button {
    padding: 5px; }

article {
  position: relative;
  margin: 0 1em;
  padding: 1em;
  padding-bottom: 10em;
  background-color: #16161d;
  border: 2px, solid, grey;
  border-radius: 5px;
  margin-bottom: 0.5em; }

.present {
  border-bottom: 2px, solid, whitesmoke;
  width: 60%; }

.phone {
  width: max-content; }

#map {
  height: 15em;
  width: 18em;
  margin: 0 auto; }
